{% extends "layout.html" %}

{% block title %}Create - Frippery{% endblock %}

{% block content %}
<form action="/publish" method="POST">
    Enter your event name:<br>
    <input type="text" name="event_name"><br>
    Event description:<br>
    <input type="text" name="event_description"><br>
    <input type="hidden" name="organizer_id"><br>
    Event start date (ex. 2014-12-25):<br>
    <input type="text" name="event_start_date"><br>
    Event start time (ex. 12:05:59): <br>
    <input type="text" name="event_start_time"><br>
    Event end date (ex. 2014-12-25):<br>
    <input type="text" name="event_end_date"><br>
    Event end time (ex. 12:05:59): <br>
    <input type="text" name="event_end_time"><br>
    <input type="submit" value="Save and publish">
</form>
{% endblock %}
