<!doctype html>
<head>
</head>
<body>
    Hello, World!
<form action="/publish" method="POST">
    Enter your event name:<br>
    <input type="text" name="event_name"><br>
    Event description:<br>
    <input type="text" name="event_description"><br>
    <input type="hidden" name="organizer_id"><br>
    Event start date and time:<br>
    <input type="text" name="event_start"><br>
    Event start timezone:<br>
    <input type="text" name="event_start_timezone"><br>
    Event end date and time:<br>
    <input type="text" name="event_end"><br>
    Event end timezeone:<br>
    <input type="text" name="event_end_timezone"><br>
    <input type="hidden" name="event_currency" value="USD"><br>
    <input type="submit" value="Save and publish">
</form>

</body>
