{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2> Events </h2>
</div>

{% for event_id, status, details in events %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <strong>{{ details.name }}</strong>
                </div>
                <div class="col-xs-2">
                    <div class="hidden-xs">{{ details.type.replace('-', ' ').capitalize() }}</div>
                </div>
    {% if status == EVENT_STATUS_NEW %}
                <div class="col-xs-2">
                    <a class="btn btn-default pull-right" href="http://www.eventbrite.com/e/{{ event_id }}" target="_blank">Register</a>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default pull-right" href="/start/{{ event_id }}">Start!</a>
                </div>
    {% elif status == EVENT_STATUS_STARTED %}
                <div class="col-xs-4">
                    <a href="/{{ event_id }}" class="btn btn-default pull-right">View</a>
                </div>
    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <a href="/create" class="btn btn-default">Create a {{ g.frippery_app }} event!</a>
        </div>
        <div class="col-md-8 hidden-xs">
            {% if non_imported_events %}
                <form class="form-inline pull-right" action="/connect" method="POST">
                    <select class="form-control" name="eid">
                        <option value="0" selected>Pick an existing event to connect</option>
                        {% for non_imported_event in non_imported_events %}
                            <option value="{{ non_imported_event.id }}">{{ non_imported_event.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-default form-control" type="submit" value="Connect!" />
                </form>
            {% endif %}
        </div>
    </div>
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            <a href="/create" class="form-control btn btn-default">Create a {{ g.frippery_app }} event!</a>
        </div>
    </div>
    <br />
    <div class="row visible-xs-block">
        <div class="col-xs-12">
            {% if non_imported_events %}
                <form class="form-inline" action="/connect" method="POST">
                    <select class="form-control" name="eid">
                        <option value="0" selected>Pick an existing event to connect!</option>
                        {% for non_imported_event in non_imported_events %}
                            <option value="{{ non_imported_event.id }}">{{ non_imported_event.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-default form-control" type="submit" value="Connect!" />
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
