{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2> Events </h2>
</div>

{% for event_id, status, details in events %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6">
                    <strong>{{ details.name }}</strong>
                </div>
                <div class="col-xs-2">
                    <div class="hidden-xs">{{ details.type.replace('-', ' ').capitalize() }}</div>
                </div>
    {% if status == EVENT_STATUS_NEW %}
                <div class="col-xs-2">
                    <a class="btn btn-default pull-right" href="http://www.eventbrite.com/e/{{ event_id }}" target="_blank">Register</a>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default pull-right" href="/start/{{ event_id }}">Start!</a>
                </div>
    {% elif status == EVENT_STATUS_STARTED %}
                <div class="col-xs-4">
                    <a href="/{{ event_id }}" class="btn btn-default pull-right">View</a>
                </div>
    {% endif %}
            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <a href="/create" class="btn btn-default">Create a {{ g.frippery_app }} event!</a>
        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-6">
            <form class="form-inline pull-right" action="/connect" method="POST">
                <input class="form-control" name="eid" type="text" placeholder="Existing event id."/>
                <input class="btn btn-default" type="submit" value="Connect!" />
            </form>
        </div>
    </div>
</div>

{% endblock %}
