<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link rel=stylesheet type=text/css
    href="{{ url_for('static', filename=g.frippery_app + '.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='base.css') }}">
<title>{% block title %}{% endblock %}</title>
{% endblock %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-8">
            <a href="/">
                <div id="fr-logo"></div>
            </a>
        </div>
        {% if g.user_id %}
        <div class="col-xs-4">
            <a href="/logout" class="fr-layout-logout-button btn btn-default pull-right">Log out</a>
        </div>
        {% endif %}
    </div>
</div>

{% block content %}{% endblock %}
</body>
</html>
