{% extends "layout.html" %}

{% block title %}Secret Santa{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2> {{ event.name }} </h2>
</div>

{% for gifter, giftee in gifts %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <strong>{{ gifter }}</strong>
                    gives to
                    <strong>{{ giftee }}</strong>.
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}
