{% extends "layout.html" %}

{% block title %}Secret Santa{% endblock %}

{% block content %}

<div class="container-fluid">
    <h2> {{ event.name }} </h2>
</div>

{% for gifter, giftee in gifts %}

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <strong>{{ gifter }}</strong>
                    gives to
                    <strong>{{ giftee }}</strong>.
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% if g.user_id %}
<div class="container-fluid">
    <div class="text-center">
    {% if not notified %}
        <a href="/action/{{ event_id }}/notify" class="fr-tourney-reset btn btn-default">
            Notify Secret Santas
        </a>
    {% else %}
        <a class="fr-tourney-reset btn btn-default disabled">
            Secret Santas Notified
        </a>
    {% endif %}
    </div>
</div>
{% endif %}

{% endblock %}
